extends layout

block content
  h1 Smart Trash
  p.lead G5 a smart service company.
  hr
  .row
    .col-sm-6
      h2 Hospital infantl Robert Reid Cabral
      p Nos complace presentar la página web del Hospital Infantil Dr. Robert Reid Cabral, una iniciativa encaminada a proyectar al futuro y a la modernidad nuestra institución.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Hospital Central de las Fuerzas Armadas
      p En el año 1939 inicia sus labores el Hospital Militar "Profesor Marión", cuyo nombre se debe al agradecimiento a un reputado médico de origen francés que le practicó una cirugía al dictador Rafael Leonidas Trujillo. Luego de la caída del caudillo, este hospital pasa a denominarse Hospital Militar "Dr. Enrique W. Lithgow Ceara", nombre dado en honor a un oficial médico dominicano.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Hospiten
      p El Grupo Hospiten es una red hospitalaria privada de carácter internacional, con más de 1.000 camas, comprometida con la prestación de un servicio de atención sanitaria de primer nivel que atiende anualmente a más de 1.000.000 pacientes. El fruto de nuestro compromiso son nuestros diecinueve centros médicos hospitalarios ubicados en España, República Dominicana, México y Jamaica.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Cedimart
      p Fueron fundados por el Dr. Juan Manuel Taveras Rodríguez, un especialista médico Dominicano de fama mundial considerado Padre de la Neurorradiología, el cual concibió un centro médico, dotado de los equipos y personal necesarios para llevar a cabo todos los procedimientos y estudios diagnósticos, integrados en un sólo lugar, a fin de brindar servicios médicos de la más alta calidad y asequibles a las posibilidades económicas de la población.
      p
        a.btn.btn-default(href='#', role='button') View details »